@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap");

* {
  box-sizing: border-box;
  font-family: "Cormorant SC", serif;
  color: rgb(226, 226, 226);
  font-size: 22;
  background-color: rgb(30, 30, 30);
}

.frownin_prof {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  flex-wrap: wrap;
}

.navbar a {
  text-decoration: none;
  flex-wrap: wrap;
  align-content: center;
}
